In [22]:
# Import
from tinydb import TinyDB, Query

In [23]:
# Create db-file
symbol_db = TinyDB('symbol_db.json')

In [24]:
# Generate data
symbol_data = [
    {'id': 0, 'Symbol': 'MSFT', 'Ex': 'ISLAND', 'Cur': 'USD'},
    {'id': 1, 'Symbol': 'NFLX', 'Ex': 'MAIN', 'Cur': 'USD'},
    {'id': 2, 'Symbol': 'AAPL', 'Ex': 'ISLAND', 'Cur': 'EUR'}
]

In [26]:
# Insert data to db
for contract in symbol_data:
    symbol_db.insert({'id': contract['id'], 'Symbol': contract['Symbol'], 'Ex': contract['Ex'], 'Cur': contract['Cur']},)
symbol_db.all()

[{'id': 0, 'Symbol': 'MSFT', 'Ex': 'ISLAND', 'Cur': 'USD'},
 {'id': 1, 'Symbol': 'NFLX', 'Ex': 'MAIN', 'Cur': 'USD'},
 {'id': 2, 'Symbol': 'AAPL', 'Ex': 'ISLAND', 'Cur': 'EUR'},
 {'id': 0, 'Symbol': 'MSFT', 'Ex': 'ISLAND', 'Cur': 'USD'},
 {'id': 1, 'Symbol': 'NFLX', 'Ex': 'MAIN', 'Cur': 'USD'},
 {'id': 2, 'Symbol': 'AAPL', 'Ex': 'ISLAND', 'Cur': 'EUR'}]

In [29]:
# Read db rows
for item in symbol_db:
    print(item)

{'id': 0, 'Symbol': 'MSFT', 'Ex': 'ISLAND', 'Cur': 'USD'}
{'id': 1, 'Symbol': 'NFLX', 'Ex': 'MAIN', 'Cur': 'USD'}
{'id': 2, 'Symbol': 'AAPL', 'Ex': 'ISLAND', 'Cur': 'EUR'}
{'id': 0, 'Symbol': 'MSFT', 'Ex': 'ISLAND', 'Cur': 'USD'}
{'id': 1, 'Symbol': 'NFLX', 'Ex': 'MAIN', 'Cur': 'USD'}
{'id': 2, 'Symbol': 'AAPL', 'Ex': 'ISLAND', 'Cur': 'EUR'}

In [17]:
# Read by query
my_query = Query()
symbol_db.search(my_query.Symbol == 'MSFT')

[{'id': 0, 'Symbol': 'MSFT', 'Ex': 'ISLAND', 'Cur': 'USD'}]

In [18]:
# Read by query
symbol_db.search(my_query.Cur== 'USD')

[{'id': 0, 'Symbol': 'MSFT', 'Ex': 'ISLAND', 'Cur': 'USD'},
 {'id': 1, 'Symbol': 'NFLX', 'Ex': 'MAIN', 'Cur': 'USD'}]

In [19]:
# Update by query
symbol_db.update({'Ex': 'NEW_EX'}, my_query.id == 2)
symbol_db.all()

[{'id': 0, 'Symbol': 'MSFT', 'Ex': 'ISLAND', 'Cur': 'USD'},
 {'id': 1, 'Symbol': 'NFLX', 'Ex': 'MAIN', 'Cur': 'USD'},
 {'id': 2, 'Symbol': 'AAPL', 'Ex': 'NEW_EX', 'Cur': 'EUR'}]

In [20]:
# Remove by query
symbol_db.remove(my_query.Ex == 'ISLAND')
symbol_db.all()

[{'id': 1, 'Symbol': 'NFLX', 'Ex': 'MAIN', 'Cur': 'USD'},
 {'id': 2, 'Symbol': 'AAPL', 'Ex': 'NEW_EX', 'Cur': 'EUR'}]

In [21]:
symbol_db.close()