In [1]:
import pandas as pd

In [7]:
symbol_database = pd.DataFrame(columns=['Symbol', 'Name', 'Symbol2', 'Currency', 'Exchange'])

In [8]:
exchanges = {
    'FWB': 'ib_fwb_etfs.csv',
    'LSE': 'ib_lse_etfs.csv',
    'LSEETF': 'ib_lse-etf_etfs.csv',
    'IBIS': 'ib_xetra_etfs.csv'
}

In [9]:
for ex, file in exchanges.items():
    one_ex_data = pd.read_csv(file, delimiter=';')
    one_ex_data['Exchange'] = ex
    symbol_database = symbol_database.append(one_ex_data, ignore_index=True, sort=True)
symbol_database.describe()

       Currency Exchange                                   Name Symbol Symbol2
count      5323     5323                                   5323   5323    5323
unique        3        4                                   2284   3732    3955
top         EUR      LSE  WisdomTree US Equity Income UCITS ETF   STAW    XCHA
freq       3024     1827                                     12      4       3

In [10]:
symbol_database.to_csv('symbol_database.csv', sep=';')

In [23]:
# df = symbol_database[symbol_database['Symbol']!=symbol_database['Symbol2']]
df = symbol_database.loc[symbol_database['exchange']=='fwb', 'Symbol']
symbol_list = df.tolist()

file = open('symbollist.txt', 'w+')
for symbol in symbol_list:
    file.write(symbol+'\n')
file.close()