In [1]:
import pandas as pd

from tinydb import TinyDB, Query
from tinydb.storages import JSONStorage
from tinydb.middlewares import CachingMiddleware

from tqdm import tqdm_notebook as tqdm

In [17]:
symbol_df = pd.DataFrame(columns=['Symbol', 'Name', 'Symbol2', 'Currency', 'Exchange', 'Status'])

In [18]:
exchanges = {
    'FWB': 'ib_fwb_etfs.csv',
    'LSE': 'ib_lse_etfs.csv',
    'LSEETF': 'ib_lse-etf_etfs.csv',
    'IBIS': 'ib_xetra_etfs.csv'
}

In [19]:
for ex, file in exchanges.items():
    one_ex_data = pd.read_csv(file, delimiter=';')
    # todo: clean symbol names
    one_ex_data['Exchange'] = ex
    symbol_df = symbol_df.append(one_ex_data, ignore_index=True, sort=True)
symbol_df.describe()

,Currency,Exchange,Name,Status,Symbol,Symbol2
count,5323,5323,5323,0,5323,5323
unique,3,4,2284,0,3732,3955
top,EUR,LSE,WisdomTree US Equity Income UCITS ETF,NaN,STAW,3DES
freq,3024,1827,12,NaN,4,3

In [10]:
# Write to CSV
symbol_df.to_csv('symbol_database.csv', sep=';')

In [23]:
# Write list to textfile

# df = symbol_database[symbol_database['Symbol']!=symbol_database['Symbol2']]
df = symbol_df.loc[symbol_df['exchange']=='fwb', 'Symbol']
symbol_list = df.tolist()

file = open('symbollist.txt', 'w+')
for symbol in symbol_list:
    file.write(symbol+'\n')
file.close()

In [20]:
# Write to tinydb

symbol_db = TinyDB('symbol_db.json', storage=CachingMiddleware(JSONStorage))

for index, row in tqdm(symbol_df.iterrows()):
    symbol_db.insert({'Id': index, 
                      'Symbol': row['Symbol'], 
                      'Name': row['Name'], 
                      'Currency': row['Currency'], 
                      'Exchange': row['Exchange'],
                      'Status': 'untouched'
                     })
symbol_db.close()

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

In [43]:
symbol_db = TinyDB('symbol_db.json')
data_list = symbol_db.all()
symbol_db.close()

data_string = str(data_list)
data_string = data_string.replace("-'bP'", "-bP")
data_string = data_string.replace("MOODY'S", "MOODYS")
data_string = data_string.replace("'", '"')

df = pd.read_json(data_string, orient='records')
# df
# df = df.loc[df['Exchange']=='FWB',:]
df = df.groupby('Status').count()
df
# df.index.tolist()

['Finished',
 'Historical Market Data Service error message:HMDS query returned no data: 0A12@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0A1T@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0AND@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0ANH@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0ANL@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0ANO@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0ANP@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0ANS@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0ANT@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0ANW@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0ANX@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0AO7@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0E1M@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0E7J@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0E85@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0GP2@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0H1C@LSEETF Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0H1I@LSEETF Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0H6L@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0H6Q@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0H6S@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0H6U@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0H70@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0H75@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0H77@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0H7J@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0H7Q@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0H7Y@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0H8Z@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0H97@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0H9I@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0HAP@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0HAX@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0HBS@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0HBU@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0HBV@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0HC6@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0HCA@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0HCD@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0HCP@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0HCS@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0HCV@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0HD7@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0HD8@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0HDB@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0HDC@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0HDF@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0HDV@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0HDZ@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0HEQ@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0HES@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0HET@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0HEX@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0HFT@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0HFX@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0HFZ@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0HGS@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0HOV@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0I9M@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0IBR@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0IJL@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0IYF@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0JF2@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0JFI@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0JG6@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0JGK@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0JH7@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0JHS@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0JJC@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0JLA@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0JLK@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0JLS@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0KQK@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0L0S@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0L12@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0L13@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0L4Q@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0LLL@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0LLR@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0LMN@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0LNF@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0LOE@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0MJM@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0MKA@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0MKF@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0MKR@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0MKV@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0MOJ@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0MOL@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0MP2@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0MPW@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0MPY@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0MPZ@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0MQ1@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0MQ3@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0MS1@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0MTG@LSEETF Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0MUE@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0MUJ@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0MV9@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0MVW@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0MW3@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0MWX@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0MWZ@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0U5Z@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0V08@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0VOO@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0VQE@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0VQH@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0VQO@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0VRD@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0W3K@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0W56@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0W76@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0W77@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0W7N@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0W7O@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0W7R@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0W7X@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0W7Z@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0W84@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0Y0J@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0Y1X@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0Y26@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0Y2M@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0Y37@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0Y3I@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0Y43@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0Y49@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0Y4G@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0Y4N@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0Y5Z@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0Y61@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0Y7G@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0Y82@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0Y8I@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0Y8Q@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0Y8R@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0Y8Z@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0Y92@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0YDK@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0YE9@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0YIK@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0YLF@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0YLL@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: 0YWV@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: AZN2@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: BP2@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: ENL2@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: O8PS@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: OAUE@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: OEUL@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: OGB5@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: OGG9@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: OGLD@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: OSPI@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: OVZA@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: OVZB@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: OXA1@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: OXA2@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: OXA6@LSE Midpoint',
 'Historical Market Data Service error message:HMDS query returned no data: RDS2@LSE Midpoint',
 'Historical Market Data Service error message:No market data permissions for EBS STK',
 'Historical Market Data Service error message:No market data permissions for FWB STK',
 'Historical Market Data Service error message:No market data permissions for IBIS STK',
 'Historical Market Data Service error message:No market data permissions for SBF STK',
 'Historical Market Data Service error message:No market data permissions for SWB STK',
 'untouched']

In [38]:
symbol_db = TinyDB('symbol_db.json')

my_query = Query()
symbol_db.update({'Status': 'untouched'}, 
                 my_query.Status == "HMDS data farm connection is broken:ushmds")

symbol_db.close()