In [31]:
import pandas as pd

df_old = pd.DataFrame({'A': ['A0o', 'A1o', 'A2o', 'A3o'],
                     'B': ['B0o', 'B1o', 'B2o', 'B3o'],                                                'C': ['C0o', 'C1o', 'C2o', 'C3o'],
                     'D': ['D0o', 'D1o', 'D2o', 'D3o']},
                    index=['2019-09-01', '2019-09-02', '2019-09-03', '2019-09-04'])
   
df_new = pd.DataFrame({'A': ['A0n', 'A1n', 'A2n', 'A3n'],
                     'B': ['B0n', 'B1n', 'B2n', 'B3n'],
                     'C': ['C0n', 'C1n', 'C2n', 'C3n'],
                     'D': ['D0n', 'D1n', 'D2n', 'D3n']},
                    index=['2019-09-03', '2019-09-04', '2019-09-05', '2019-09-06'])

df_int = pd.DataFrame({'A': [0, 1, 2, 3],
                     'B': ['B0o', 'B1o', 'B2o', 'B3o'],                                                'C': ['C0o', 'C1o', 'C2o', 'C3o'],
                     'D': ['D0o', 'D1o', 'D2o', 'D3o']},
                    index=['2019-09-01', '2019-09-02', '2019-09-03', '2019-09-04'])

In [28]:
df_old

              A    B    C    D
2019-09-01  A0o  B0o  C0o  D0o
2019-09-02  A1o  B1o  C1o  D1o
2019-09-03  A2o  B2o  C2o  D2o
2019-09-04  A3o  B3o  C3o  D3o

In [29]:
df_new

              A    B    C    D
2019-09-03  A0n  B0n  C0n  D0n
2019-09-04  A1n  B1n  C1n  D1n
2019-09-05  A2n  B2n  C2n  D2n
2019-09-06  A3n  B3n  C3n  D3n

In [19]:
df_new.combine_first(df_old)

              A    B    C    D
2019-09-01  A0o  B0o  C0o  D0o
2019-09-02  A1o  B1o  C1o  D1o
2019-09-03  A0n  B0n  C0n  D0n
2019-09-04  A1n  B1n  C1n  D1n
2019-09-05  A2n  B2n  C2n  D2n
2019-09-06  A3n  B3n  C3n  D3n

In [36]:
df_int[['A']].dtypes

A    object
dtype: object

In [35]:
df_int[['A']] = df_int[['A']].astype(str)